@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen max-[425px]:text-base text-lg bg-body-bg bg-header-bg bg-no-repeat bg-top bg-[length:100%12.5rem] px-[1.625rem];
  }
}

:root {
  --header-bg: url("/bg-mobile-dark.jpg");
  --body-bg: hsl(235, 21%, 11%);
  --main-bg: hsl(235, 24%, 19%);
  --text: hsl(234, 39%, 85%);
  --details: hsl(233, 14%, 35%);
}

.light {
  --header-bg: url("/bg-mobile-light.jpg");
  --body-bg: hsl(236, 33%, 92%);
  --main-bg: hsl(0, 0%, 98%);
  --text: hsl(237, 14%, 26%);
  --icon: hsl(240, 5%, 64%);
}
